<nav class="navbar navbar-expand-lg" style="background-color: #f2792d;">
  <div class="container">
    <a class="navbar-brand fw-bold text-white" href="#">
      YourConfort
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/arrendador/inicio']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/arrendador/universidades']">Universidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Departamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Cuartos</a>
        </li>
      </ul>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white ms-3">
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/arrendador/listar-inmuebles/verInmueble']" >Perfil Arrendador</button>
      </mat-menu>

    </div>
  </div>
</nav>
