<div>
  <h3 class="mb-4">Mis Avisos</h3>

  <mat-card class="mb-3">
    <mat-card-content>
      <div class="d-flex justify-content-between align-items-center">
        <img src="ruta_de_imagen_camara" alt="Foto propiedad" class="img-thumbnail" style="width: 100px;">
        <div class="flex-grow-1 ms-3">
          <h5 class="text-primary">Habitación</h5>
          <p>Departamento moderno ubicado en una zona exclusiva de San Isidro...</p>
          <p class="text-muted">Alquiler S/. 890</p>
          <p class="text-muted">Código ID: 123456</p>
        </div>
        <button mat-raised-button color="warn">Eliminar</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-3">
    <mat-card-content>
      <div class="d-flex justify-content-between align-items-center">
        <img src="ruta_de_imagen_camara" alt="Foto propiedad" class="img-thumbnail" style="width: 100px;">
        <div class="flex-grow-1 ms-3">
          <h5 class="text-primary">Habitación</h5>
          <p>Departamento moderno ubicado en una zona exclusiva de Jesús María...</p>
          <p class="text-muted">Alquiler S/. 890</p>
          <p class="text-muted">Código ID: 123456</p>
        </div>
        <button mat-raised-button color="warn">Eliminar</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
