<button [routerLink]="['/arrendador/inicio']"> Arrendador </button>
<button [routerLink]="['/universitario/inicioU']"> Universitario </button>

<button [routerLink]="'/registrarArrendador'"> Registrar arrendador </button>
<button [routerLink]="'/registrarUniversidad'"> Registrar universidad </button>
<button [routerLink]="'/registrarInmueble'"> Registrar inmueble </button>

<button [routerLink]="'/registrarUniversitario'"> Registrar universitario </button>
<button [routerLink]="'/registrarComentario'"> Registrar comentario </button>
<button [routerLink]="'/registrarReserva'"> Registrar reserva </button>
<button [routerLink]="'/registrarContrato'"> Registrar contrato </button>
