<div class="container mt-4">
  <div class="row">
    <!-- Sidebar de Filtros -->
    <div class="col-md-3">
      <mat-expansion-panel class="fil">
        <mat-expansion-panel-header>
          <mat-panel-title>Inmueble</mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/registraInmueble']">Registra Inmueble</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/verInmueble']">Ver mis inmueble</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/listaInmueble']">Lista Inmuebles</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/contarInmueble']">Contar Propiedades</button>
      </mat-expansion-panel>

      <mat-expansion-panel class="fil">
        <mat-expansion-panel-header>
          <mat-panel-title>Reserva</mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/listaReserva']">Lista reservas</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/reservasRecientes']">Reservas Recientes</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="">Reservas sin contrato</button>
      </mat-expansion-panel>

      <mat-expansion-panel class="fil">
        <mat-expansion-panel-header>
          <mat-panel-title>Contratos</mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/listaContrato']">Lista de contratos</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/busquedaContrato']">Búsqueda de contratos</button>
        <button mat-raised-button color="primary" class="mb-2 w-100" [routerLink]="['/arrendador/listar-inmuebles/registraContrato']">Registra contratos</button>
      </mat-expansion-panel>
    </div>

    <!-- Listado de Propiedades -->
    <div class="col-md-9">
      <router-outlet ></router-outlet>
    </div>


  </div>
</div>
<br><br><br><br><br>
