<div class="container mt-4 p-3 border rounded bg-light">
  <label for="universitario" class="form-label">Seleccione un Universitario:</label>
  <select id="universitario" class="form-select mb-3" (change)="onUniversitarioChange($event)">
    <option *ngFor="let universitario of universitarios">
      {{ universitario.nombre_Universitario }}
    </option>
  </select>

  <div *ngIf="reservas && reservas.length > 0" class="mt-4">
    <h3 class="text-primary mb-3">Reservas del Universitario Seleccionado</h3>
    <ul class="list-group">
      <li *ngFor="let reserva of reservas" class="list-group-item">
        <p><strong>ID de Reserva:</strong> {{ reserva.id_Reserva }}</p>
        <p><strong>Fecha de Reserva:</strong> {{ reserva.fecha_Reserva | date }}</p>
        <p><strong>Dirección Inmueble:</strong> {{ reserva.direccion_Inmueble }}</p>
        <p><strong>Comentario:</strong> {{ reserva.comentario }}</p>
      </li>
    </ul>
  </div>

  <div *ngIf="reservas && reservas.length === 0" class="mt-4">
    <p class="text-muted">No hay reservas para este universitario.</p>
  </div>
</div>
